<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Hiking</title>
</head>
<body class="area">
  
  <div id="mountainBar">
    <h1 class="header"> 
      Hiking / Trails
    </h1>

    <div id="iconPosition">
      <a href="/">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/1946/1946436.png" alt="">
      </a>
      <a href="/beach">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/2347/2347758.png" alt="">
      </a>
      <a href="/mountain">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/281/281568.png" alt="">
      </a>
      <a href="/urban">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/63/63610.png" alt="">
      </a>
    </div>
  </div>

  <h1 id="beachHeader">
    <%= mountain.title %> 
  </h1>
  <ul>
    <li>
      Difficulty: <%= mountain.level %> 
    </li>
    <li>
      Gear needed: <%= mountain.gear %> 
    </li>
    <div id="beachDiv">
      <%= mountain.area %> 
    </div>
  </ul>

  

<div id="homeGroup">
  <a href="/mountain/<%= mountain.id %>/edit"> Click to Edit</a>
  <a href="/mountain"> Go Back</a>
</div>


</body>
</html>