<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body class="area">

  <div id="beachBar">
    <h1 class="header"> 
      Beaches / Water  Locations
    </h1>

    <div id="iconPosition">
      <a href="/">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/1946/1946436.png" alt="">
      </a>
      <a href="/beach">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/2347/2347758.png" alt="">
      </a>
      <a href="/mountain">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/281/281568.png" alt="">
      </a>
      <a href="/urban">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/63/63610.png" alt="">
      </a>
    </div>
</div>

  <h1 id="beachHeader">
    <%= beach.title %>
  </h1>
  <ul>
    <li id="beachList">
      Difficulty: <%= beach.level %> 
    </li>
    <li id="beachList">
      Gear needed: <%= beach.gear %> 
    </li>
  </ul>
  <div id="beachDiv">
    <p >
      <%= beach.area %> 
    </p>
    
  </div>

  

  <div id="homeGroup">
    <a href="/beach/<%= beach.id %>/edit"> Click to Edit</a>
    <a href="/beach">BACK</a>
  </div>

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>


</body>
</html>